body {
  font-family: helvetica, arial;
  background-color: black;
}

img {
  width: 100%;
  height: auto;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg .text {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 15vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.image {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  
  -webkit-transition: all 1.3s;
  transition: all 1.3s;

  -webkit-transition-delay: 2s; 
  transition-delay: 2s;


}

.image img {
  border: 10px solid white;
  background-color: white;
}

.fadeIn {
  z-index: 100;
}
.fadeOut {
  
  /*-webkit-transform: translate(-150%, -50%);
  transform: translate(-150%, -50%);*/
}