img {
  width: 100%;
  height: auto;
}

.image {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 1.3s;

  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}

.fadeIn {
  z-index: 100;
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}