img {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s;
}

.fadeIn {
  z-index: 100;
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}